@model Product

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-gradient m-lg-0 py-3">
        <div class="row pb-2">
            <div class="col-12 text-center">
                <h2 class="text-light">Ürün Ekle</h2>

            </div>
        </div>
    </div>
</div>
<form method="post">
    <div class="border p-3 mt-4">
      
        <div class="form-floating py-2 mb-3 col-12">
            <input class="form-control border-0 shadow" asp-for="Title" />
            <label class="form-label fs-4" asp-for="Title"></label>
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="form-floating py-2 mb-5">
            <input class="form-control border-0 shadow" asp-for="Author" />
            <label class="form-label fs-4" asp-for="Author"></label>
            <span class="text-danger" asp-validation-for="Author"></span>
        </div>
        <div class="form-floating py-2 mb-5">
            <input class="form-control border-0 shadow" asp-for="ISBN" />
            <label class="form-label fs-4" asp-for="ISBN"></label>
            <span class="text-danger" asp-validation-for="ISBN"></span>
        </div>
        <div class="form-floating py-2 mb-5">
            <input class="form-control border-0 shadow" asp-for="Description" />
            <label class="form-label fs-4" asp-for="Description"></label>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-floating py-2 mb-5">
            <input class="form-control border-0 shadow" asp-for="ListPrice" />
            <label class="form-label fs-4" asp-for="ListPrice"></label>
            <span class="text-danger" asp-validation-for="ListPrice"></span>
        </div>
        <div class="form-floating py-2 mb-5">
            <input class="form-control border-0 shadow" asp-for="Price" />
            <label class="form-label fs-4" asp-for="Price"></label>
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-floating py-2 mb-5">
            <input class="form-control border-0 shadow" asp-for="Price50" />
            <label class="form-label fs-4" asp-for="Price50"></label>
            <span class="text-danger" asp-validation-for="Price50"></span>
        </div>
        <div class="form-floating py-2 mb-5">
            <input class="form-control border-0 shadow" asp-for="Price100" />
            <label class="form-label fs-4" asp-for="Price100"></label>
            <span class="text-danger" asp-validation-for="Price100"></span>
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-success" type="submit">Ürünü Ekle</button>
            </div>
           <div class="col-3">
                <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Anasayfaya Dön</a>

           </div>
        </div>
        
    </div>
</form>